<ion-header class="hdr">
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>

    <ion-buttons slot="start" class="ion-margin-start">
      <ion-icon name="bonfire"></ion-icon>
      <span style=padding-left:8px;>Lulu <br>Money</span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="lulu_card">

    <div class="row_class">
      <ion-row>
          <ion-col  class="pad_col">
        <ion-item class="def_currency">
        {{default_currency}}
        </ion-item>
        <ion-item class="def_currency_value">
          <ion-input slot="end" [(ngModel)]="currency" (keyup)="input_chane($event)" type="number" slot="end"></ion-input>
        </ion-item>
          </ion-col>
         <!-- <ion-col >
       
         </ion-col> -->
     </ion-row>       
 
     <ion-row>
        <ion-col  class="pad_col">
      <ion-item class="def_currency">
          <ion-select [(ngModel)]="selectedCodeValue" name="selectedCodeValue" slot="start" (ionChange)="selectEmployee($event)" style="padding:0;">
              <ion-select-option *ngFor="let name of currency_array; let i = index"  [value]="name">{{name.toccy}}</ion-select-option>
              
            </ion-select>
    
      </ion-item>
      <ion-item class="def_currency_value">
        <ion-input type="text" (keyup)="input_do($event)" slot="end" [(ngModel)]="def_curr_value"> </ion-input>
     </ion-item>
        </ion-col>
    

      

   </ion-row>    
   <!-- <div>
     <p>fdfdfdfd</p>
   </div>  -->
  </div>  
 
  <div id="outer"><div id="inner">&nbsp;</div></div>
  <div class="circl">
    <ion-icon name="send" class="icn"></ion-icon>
  </div>
  </div>

  <div class="bottom_grid">

      <ion-grid class="home_grid">
     
          <ion-row class="row">
              <ion-col size="6" class="col6">
                  <ion-icon name="send" color="primary" class="icn"></ion-icon>
                  <div class="clearfix"></div>
                Send Money
              </ion-col>
              <ion-col size="6" class="col6">
                  <ion-icon name="contacts" color="primary" class="icn"></ion-icon>
                  <div class="clearfix"></div>
               Recipients
                </ion-col>
              </ion-row>

              <ion-row class="row">
              <ion-col size="6" class="col6">
                  <ion-icon name="menu" color="primary" class="icn"></ion-icon>
                  <div class="clearfix"></div>
                    My Transfers
                  </ion-col>
                  <ion-col size="6" class="col6">
                      <ion-icon name="chatboxes" color="primary" class="icn"></ion-icon>
                      <div class="clearfix"></div>
                    Live Chat
                    </ion-col>
                  </ion-row>

                  <ion-row  class="row">
                      <ion-col size="6" class="col6">
                          <ion-icon name="gift" color="primary" class="icn"></ion-icon>
                          <div class="clearfix"></div>
                        Promotions
                      </ion-col>
                      <ion-col size="6" class="col6">
                          <ion-icon name="cog" color="primary" class="icn"></ion-icon>
                          <div class="clearfix"></div>
                        My Account
                        </ion-col>
                      </ion-row>
          
        </ion-grid>
  </div>
  
 
   </ion-content>
